<div class="row my-5">
  <div class="col-6">
    <img
      src="http://localhost:3000/image/cakes/{{ cake._id }}.jpg"
      style="width: 100%"
      alt="cakeImage"
    />
  </div>
  <div class="col-6">
    <h2 class="mb-4">{{ cake.name }}</h2>
    <h6 class="mb-3">
      <b>Main Ingredients: </b> {{ cake.ingredients | titlecase }}
    </h6>
    <h6 class="mb-3"><b>Origin: </b> {{ cake.origin }}</h6>
    <small><b>Description: </b></small>
    <p>
      <i>{{ cake.description }}</i>
    </p>
  </div>
</div>
