<div class="row">
  <div class="col my-2">
    <small>Filter by Ingredient: </small>
    <select
      class="form-select form-select-lg"
      name="filterCakes"
      id="filterCakes"
      style="width: 30%"
      (change)="filterIngredients($event)"
    >
      <option selected>-Chose Ingredient-</option>
      <option value="">All</option>
      <option
        *ngFor="let itemIngredient of ingredients"
        value="{{ itemIngredient }}"
      >
        {{ itemIngredient | titlecase }}
      </option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col my-2 text-center" *ngFor="let itemCake of cakes">
    <div
      class="card cursor"
      style="width: 25rem; height: 100%; margin: 0 auto"
      [routerLink]="[itemCake._id]"
    >
      <img
        class="card-img-top"
        src="http://localhost:3000/image/cakes/{{ itemCake._id }}.jpg"
        style="height: 300px; width: 100%"
        alt="cakeImage"
      />
      <div class="card-body">
        <h2>{{ itemCake.name }}</h2>
        <small class="fst-italic">Ingredients: </small>
        <p>{{ itemCake.ingredients | titlecase }}</p>
      </div>
    </div>
  </div>
</div>
